<!--
<!DOCTYPE html>

<html lang='en'>

  <head>

    <meta charset='UTF-8' />

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />

    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>Add New Job</title>

  </head>

  <body>

    <h1>Add New Job</h1>
    
    <form action="/job/<%= job._id %>?_method=PUT" method="POST">

      <label for='url'>Job URL:</label>

      <input type='text' name='url' required><br>


      <label for='title'>Job Title:</label>

      <input type='text' name='title' required><br>


      <label for='referenceNumber'>Reference Number:</label>

      <input type='text' name='referenceNumber'><br>


      <label for='closingDate'>Closing Date:</label>

      <input type='date' name='closingDate'><br>


      <label for='status'>Status:</label>

      <input type='text' name='status'><br>


      <label for='notes'>Notes:</label>

      <input type='text' name='notes'><br>
      

      <label for='agency'>Agency:</label>

      <select name='agency'>

        <% agencies.forEach(function(agency) { %>

          <option value='<%= agency._id %>'><%= agency.name %></option>

        <% }) %>

      </select><br>

      <label for='platform'>Platform:</label>

      <select name='platform'>

        <% platforms.forEach(function(platform) { %>

          <option value='<%= platform._id %>'><%= platform.name %></option>

        <% }) %>

      </select><br>

      <button type='submit'>Add Job</button>

    </form>

  </body>

</html>
-->